<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cat-heading" style="padding: 20px;">Activities</div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 faq-wrapper">
                <div class="panel-group" id="accordion2">
                    <div class="panel panel-default">
                        <a class="accordion-toggle">
                            <div class="panel-heading cat-heading">
                                <h1>I want some exercise</h1>
                            </div>
                            <div class="cat-img">
                                <img src="img/exercise.png">
                            </div>
                        </a>
                    </div>
                    <div class="panel-group" id="accordion2">
                        <div class="panel panel-default">
                            <a class="accordion-toggle">
                                <div class="panel-heading cat-heading">
                                    <h1>I would like to go outside</h1>
                                </div>
                                <div class="cat-img">
                                    <img src="img/outdoor.png">
                                </div>
                            </a>
                        </div>
                        <div class="panel panel-default">
                            <a class="accordion-toggle">
                                <div class="panel-heading cat-heading">
                                    <h1>I would like to go shopping</h1>
                                </div>
                                <div class="cat-img">
                                    <img src="img/shopping.png">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var voice = getCookie('voice')
        $('.accordion-toggle').click(function(event)
        {
            var speech = $(this).text().replace(/\s+/g, '');
            speech = speech.replace(/I/g,"eye");
            speech = speech.replace(/some/g, "summ");
            speech = speech.replace(/to\s*go/g, "2 gow");
            responsiveVoice.speak(speech, voice);
        });

    </script>