<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cat-heading" style="padding: 20px;">Food</div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 faq-wrapper">
                <div class="panel-group" id="accordion2">
                    <div class="panel panel-default">
                        <a class="accordion-toggle">
                            <div class="panel-heading cat-heading">
                                <h1>I'm hungry</h1>
                            </div>
                            <div class="cat-img">
                                <img src="img/hunger.png">
                            </div>
                        </a>
                    </div>
                    <div class="panel-group" id="accordion2">
                        <div class="panel panel-default">
                            <a class="accordion-toggle">
                                <div class="panel-heading cat-heading">
                                    <h1>I'm thirsty</h1>
                                </div>
                                <div class="cat-img">
                                    <img src="img/thirsty.png">
                                </div>
                            </a>
                        </div>
                    <div class="panel panel-default">
                        <a class="accordion-toggle">
                            <div class="panel-heading cat-heading">
                                <h1>What time is food ready?</h1>
                            </div>
                            <div class="cat-img">
                                <img src="img/dinner.png">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var voice = getCookie('voice')
    $('.accordion-toggle').click(function(event)
    {
        var speech = $(this).text().replace(/\s+/g, '');
        responsiveVoice.speak(speech, voice);
    });
         
</script>