<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                 <div class="cat-heading" style="padding: 20px;">Categories </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <a href="#responses">
                    <div class="team-member">
                        <div class="team-member-image"><img src="img/response.png" height="190" alt="Name Surname"></div>
                        <div class="team-member-info">
                            <ul>
                                <li class="team-member-name">
                                    Responses 
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#food">
                    <div class="team-member">
                        <div class="team-member-image"><img src="img/food_drink.png" height="190" width="266" alt="Name Surname"></div>
                        <div class="team-member-info">
                            <ul>
                                <li class="team-member-name">
                                    Food and Drink
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#medical">
                    <div class="team-member">
                        <div class="team-member-image"><img src="img/medical.jpeg" height="190" width="266"  alt="Name Surname"></div>
                        <div class="team-member-info">
                            <ul>
                                <li class="team-member-name">
                                    Medical
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#emotions">
                    <div class="team-member">
                        <div class="team-member-image"><img src="img/emotions.png" height="190" alt="Name Surname"></div>
                        <div class="team-member-info">
                            <ul>
                                <li class="team-member-name">
                                    Emotions
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#hygiene">
                    <div class="team-member">
                        <div class="team-member-image"><img src="img/hygiene.png"  height="190"  alt="Name Surname"></div>
                        <div class="team-member-info">
                            <ul>
                                <li class="team-member-name">
                                    Hygiene
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
            <a href="#activities">
                <div class="team-member">
                    <div class="team-member-image"><img src="img/activities.png" height="190" alt="Name Surname"></div>
                    <div class="team-member-info">
                        <ul>
                            <li class="team-member-name">
                                Activities
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
            </div>
            <div class="col-md-4 col-sm-6">
            <a href="#custom">
                <div class="team-member">
                    <div class="team-member-image"><img src="img/settings.png" height="190" alt="Name Surname"></div>
                    <div class="team-member-info">
                        <ul>
                            <li class="team-member-name">
                                Custom
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
            </div>
        </div>
    </div>
</div>
