<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cat-heading" style="padding: 20px;">Hygiene</div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 faq-wrapper">
                <div class="panel-group" id="accordion2">
                    <div class="panel panel-default">
                        <a class="accordion-toggle">
                            <div class="panel-heading cat-heading">
                                <h1>I need the toilet</h1>
                            </div>
                            <div class="cat-img">
                                <img src="img/toilet.png">
                            </div>
                        </a>
                    </div>
                    <div class="panel-group" id="accordion2">
                        <div class="panel panel-default">
                            <a class="accordion-toggle">
                                <div class="panel-heading cat-heading">
                                    <h1>I would like to wash</h1>
                                </div>
                                <div class="cat-img">
                                    <img src="img/wash.png">
                                </div>
                            </a>
                        </div>
                        <div class="panel panel-default">
                            <a class="accordion-toggle">
                                <div class="panel-heading cat-heading">
                                    <h1>I would like to clean my teeth</h1>
                                </div>
                                <div class="cat-img">
                                    <img src="img/clean_teeth.png">
                                </div>
                            </a>
                        </div>
                        <div class="panel panel-default">
                            <a class="accordion-toggle">
                                <div class="panel-heading cat-heading">
                                    <h1>I want to get dressed</h1>
                                </div>
                                <div class="cat-img">
                                    <img src="img/dressed.png">
                                </div>
                            </a>
                        </div>
                        <div class="panel panel-default">
                            <a class="accordion-toggle">
                                <div class="panel-heading cat-heading">
                                    <h1>I'm afraid</h1>
                                </div>
                                <div class="cat-img">
                                    <img src="img/afraid.png">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $('.accordion-toggle').click(function(event)
        {
            var speech = $(this).text().replace(/\s+/g, '');
            responsiveVoice.speak(speech,'UK English Male');
        });

    </script>