<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cat-heading" style="padding: 20px;">Medical</div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 faq-wrapper">
                <div class="panel-group" id="accordion2">
                    <div class="panel panel-default">
                        <a class="accordion-toggle">
                            <div class="panel-heading cat-heading">
                                <h1>I feel unwell</h1>
                            </div>
                            <div class="cat-img">
                                <img src="img/unwell.png">
                            </div>
                        </a>
                    </div>
                    <div class="panel panel-default">
                        <a class="accordion-toggle">
                            <div class="panel-heading cat-heading">
                                <h1>I feel sick</h1>
                            </div>
                            <div class="cat-img">
                                <img src="img/sick.png">
                            </div>
                        </a>
                    </div>
                    <div class="panel-group" id="accordion2">
                        <div class="panel panel-default">
                            <a class="accordion-toggle">
                                <div class="panel-heading cat-heading">
                                    <h1>I want to see a doctor</h1>
                                </div>
                                <div class="cat-img">
                                    <img src="img/doctor.png">
                                </div>
                            </a>
                        </div>
                        <div class="panel panel-default">
                            <a class="accordion-toggle">
                                <div class="panel-heading cat-heading">
                                    <h1>I'm in pain</h1>
                                </div>
                                <div class="cat-img">
                                    <img src="img/pain.png">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var voice = getCookie('voice')
        $('.accordion-toggle').click(function(event)
        {
            var speech = $(this).text().replace(/\s+/g, '');
            speech = speech.replace(/I/g, "eye");
            speech = speech.replace(/to\s*see\s*a/g,"2 sea ay");
            responsiveVoice.speak(speech, voice);
        });


    </script>