<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cat-heading"  style="padding: 20px;">Physical</div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 faq-wrapper">
                <div class="panel-group" id="accordion2">
                    <div class="panel panel-default">
                        <a class="accordion-toggle">
                            <div class="panel-heading cat-heading">
                                <h1>I'm too hot</h1>
                            </div>
                            <div class="cat-img">
                                <img src="img/hot.png">
                            </div>
                        </a>
                    </div>
                    <div class="panel-group" id="accordion2">
                        <div class="panel panel-default">
                            <a class="accordion-toggle">
                                <div class="panel-heading cat-heading">
                                    <h1>I' too cold</h1>
                                </div>
                                <div class="cat-img">
                                    <img src="img/cold.png">
                                </div>
                            </a>
                        </div>
                        <div class="panel panel-default">
                            <a class="accordion-toggle">
                                <div class="panel-heading cat-heading">
                                    <h1>I feel unwell</h1>
                                </div>
                                <div class="cat-img">
                                    <img src="img/unwell.png">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var voice = getCookie('voice')
        $('.accordion-toggle').click(function(event)
        {
            var speech = $(this).text().replace(/\s+/g, '');
            responsiveVoice.speak(speech, voice);
        });

    </script>