<form>
    <br> <br>
    <div class="col-md-12">
        <div class="form-group">
            <label><h1> Voice </h1> </label>
            <select class="form-control" id="voice" onchange='getSelectedValue();'>
                <option value="UK English Male">Male</option>
                <option value="UK English Female">Female</option>
            </select>
        </div>
    </div>
</form>

<script>
    function getSelectedValue() {
    var voice = document.getElementById('voice').value;
    document.cookie="voice=" + voice;
    }
</script>

<div class="col-md-12">
    <div class="form-group">
    <p>This sample list uses the following IndexedDB library:<br>
    <a href="https://github.com/jensarps/IDBWrapper">https://github.com/jensarps/IDBWrapper</a></p>
    <p>Add a new item:<br>
    <form ng-submit="addItem()">
        <input type="text" ng-model="itemname" size="30" placeholder="item name">
        <button class="btn-primary" type="submit"><i class="icon-plus icon-white"></i></button>
    </form>
    </p>
    <p>Items in your list:</p>
    <p> <input type="text" ng-model="search" class="search-query" placeholder="Search"> </p>
    <table ng-repeat="item in items | filter:search | orderBy:'text'">
        <tr>
            <td width="100px">{{item.text}}</td>
            <td width="150px">{{item.timeStamp}}</td>
            <td>
                <a class="btn btn-mini btn-danger" ng-click="deleteItem(item.id)"><i class="icon-remove icon-white"></i></a>
            </td> 
        </tr> 
    </table>
    </div>
</div>
