<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cat-heading" style="padding: 20px;">Settings</div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 faq-wrapper">
                <div class="panel-group" id="accordion2">
                    <form>
                        <div class="form-group">
                            <label><h1> Voice </h1> </label>
                            <select class="form-control" id="voice" onchange='getSelectedValue();'>
                                <option value="UK English Male">Male</option>
                                <option value="UK English Female">Female</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 faq-wrapper">
                <div class="panel-group" id="accordion2">
                        <div class="form-group">
                            <label><h1> Custom messages </h1> </label>
                            <p>Add a new messages:<br>
                            <form ng-submit="addItem()" ng-controller="MainCtrl">
                                <input type="text" ng-model="itemname" size="30" placeholder="message name"/><br/>
                                <br/>
                                <input type="file" accept="image/*" onchange="angular.element(this).scope().setFile(this)">
                                <br/>
                                <button class="btn-primary" type="submit">Add</button>
                            </form>
                            </p>
                            <p>Messages in your custom category:</p>
                            <p> <input type="text" ng-model="search" class="search-query" placeholder="Search"> </p>
                            <table ng-repeat="item in items | filter:search | orderBy:'text'">
                                <tr height="40px">
                                    <td width="50px">
                                        <a class="btn btn-red" ng-click="deleteItem(item.id)">X</a>
                                    </td> 
                                    <td>{{item.text}}</td>
                                </tr> 
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function getSelectedValue() {
    var voice = document.getElementById('voice').value;
    document.cookie="voice=" + voice;
    }
</script>
