<form>
    <br> <br>
    <div class="col-md-12">
        <div class="form-group">
            <label><h1> Voice </h1> </label>
            <select class="form-control" id="voice" onchange='getSelectedValue();'>
                <option value="UK English Male">Male</option>
                <option value="UK English Female">Female</option>
            </select>
        </div>
    </div>
</form>

<script>
    function getSelectedValue() {
    var voice = document.getElementById('voice').value;
    }
</script>