    <div class="mainmenu-wrapper">
            <div class="container">
                <nav id="mainmenu" class="mainmenu">
                    <ul>
                        <li class="pull-right">
                            <a href="#/settings" style="font-size: 25px; font-weight: bolder">Settings</a>
                            <a href="#/settings"><img src="img/settings.png" style="width: 100px; height: 100px" alt="Multipurpose Twitter Bootstrap Template"></a>
                        </li>
                        <li>
                            <a href="#/" style="font-size: 25px; font-weight: bolder">Home</a>
                            <a href="#/"><img src="img/home.png" style="width: 100px; height: 100px" alt="Multipurpose Twitter Bootstrap Template"></a>
                        </li>


                    </ul>
                </nav>
            </div>
        </div>

<script>
    if (!document.cookie.indexOf("voice") >= 0) {
        document.cookie="voice=UK English Male"
    }
</script>

    
