<!-- Navigation & Logo-->
        <div class="mainmenu-wrapper">
            <div class="container">
                <nav id="mainmenu" class="mainmenu">
                    <ul>
                        <li class="logo-wrapper"><a href="#/"><img src="img/mPurpose-logo.png" alt="Multipurpose Twitter Bootstrap Template"></a></li>

                        <li class="pull-right">
                            <a href="#/settings">Settings</a>
                        </li>
                        <li>
                            <a href="#/">Home</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
